<article class="post-entry">
  <header class="entry-header">
    <h2>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h2>
  </header>
  <div class="entry-content">
    {{- with .Params.venue }}
    <div class="pub-venue">{{ . }}</div>
    {{- end }}
    {{- with .Params.authors }}
    <div class="pub-authors">
      {{- range $index, $author := . -}}
        {{- if $index }}, {{ end -}}
        {{- $author.name | safeHTML -}}
      {{- end -}}
    </div>
    {{- end }}
    {{- $summary := .Summary }}
    {{- if not $summary }}
      {{- $summary = .Params.summary }}
    {{- end }}
    {{- with $summary }}
    <p class="pub-summary">{{ . }}</p>
    {{- end }}
  </div>
</article>
